.navbar-fixed {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding-top: 0.5px;
  }
  
  .navbar {
    /* Adjust the value to reduce the top space */
margin-top: 1px;
    margin-bottom: 15px;

  }
  .container{
    margin-top: 2px;
    /* margin-bottom: 5px; */
    padding-top: 1px;
  }
  .nav-link{
    color: 	#000102;
  }